/* https://codepen.io/relaxabyte/pen/JJJvrJ */

/* Provided CSS */
.example { margin-bottom: 2em; margin-left: -1em; }
.example img { width: 180px; }
.css-button { margin-left: 0; }

/* My CSS */
.css-button {
  width: 154px;
  border: 1px solid #666;
  border-radius: 10px;
  background-clip: content-box;
  padding: 1px;
  background-color: #cbcbcb;
  box-shadow: 0 1px 2px #999;
}

.css-button .btn {
  margin: 3px;
  padding: 6px 12px;
  border-radius: 8px;
  border-color: #ababab;
  background: #d3d3d3; /* old browsers */
  background: linear-gradient(0deg,#adadad 0%,#c5c5c5 50%,#d3d3d3 55%,#e0e0e0 100%);
  box-shadow: 0 2px 2px #777;
  font-family: helvetica,arial,sans-serif; /* couldn't identify exact font, but this is close */
  font-weight:700;
  font-size: 14px;
  text-shadow: none;
  color: #555;
  text-transform: uppercase;
  outline: none !important;
  
  &:hover,
  &:active,
  &:visited,
  &:focus {
  border-color: #ababab;
  background: #d3d3d3; /* old browsers */
  background: linear-gradient(0deg,#adadad 0%,#c5c5c5 50%,#d3d3d3 55%,#e0e0e0 100%);
  color: #555;
  }
  &:before,
  &:after {
    content: '\e006';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    color: #888; 
    font-size: 12px;
    vertical-align: middle;
    transition: all 150ms ease-in-out;
    transform: scale(1);
    opacity: 1.0;
  }
  &:before {
    padding-right: 6px;
  }
  &:after {
    padding-left: 9px;
  }
  &:hover {
    &:before,&:after {
      transform: scale(1.6);
      opacity: 0.6;
    }
  }
  &:active {
    &:before,&:after {
      transform: scale(0.6);
      opacity: 1.0;
    }
  }
}
